---
tumor_evolution:
  type: object
  properties:
    output_directory:
      description: >
        Directory where the report should be saved. This can either be an
        absolute path on the StackStorm server, or a Windows path referring
        to G:.
      type: string
      format: uri-reference
      required: true

    watch_file:
      description: Path to file to watch on host.
      type: string
      format: uri-reference
      required: true

    watch_file_instructions:
      description: User instructions that the watch file should be populated with.
      type: string
      default: |
        # Generera en rapport genom att lägga till en ny rad med den
        # fullständiga sökvägen till en Excel-fil (inklusive filändelse) med
        # det data som ska presenteras. Standardbeteendet är att första
        # arbetsbladet i dokumentet används. Det är endast sista raden i denna
        # fil som tas hänsyn till. Eventuella felmeddelanden skrivs ut i filen
        # report.<tidpunkt>.error.log.
        #
        # Ex:
        # G:\sökväg\till\prov\D23-XXXX.xlsx
      required: true

    version:
      description: >
        Version of the tumor-evolution script to use. See the releases of
        the package for valid values: https://github.com/gmc-norr/tumor-evolution/releases
      type: string
      required: true

run_directories:
  type: array
  items:
    type: object
    properties:
      path:
        description: >
          The directory to watch for new run directories in.
        type: string
        required: true
      host:
        description: >
          The host where the watch directory is located. By default it will
          look on localhost.
        type: string
        required: false
